/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/favicon.ico
/public/manifest.json
/public/precache-manifest.*.js
/public/robots.txt
/public/service-worker.js
/public/vendor
/storage/*.key
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
